body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 10px;
}

.container {
    max-width: 800px;
    margin: auto;
}

h2 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}

.certifications {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.cert-item {
    font-size: 14px;
}

.cert-item h3 {
    font-weight: bold;
    margin: 0;
}

.cert-item p {
    margin: 2px 0;
    color: #666;
}

.project{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}